In [58]:
import pandas as pd

In [60]:
import numpy as np

In [61]:
import datetime

In [62]:
import matplotlib.pyplot as plt

In [63]:
import openpyxl

In [64]:
df=pd.read_csv("C:/Users/Анатолий/Desktop/Новая папка/sim_result.csv")

In [65]:
df.shape

(37, 186)

In [66]:
df.head()

,time,WOPR:F1,WOPR:F2,WOPR:I1,WOPR:I2,WOPR:I3,WOPR:I4,WOPR:I5,WOPR:I6,WOPR:P1,...,WWIT:P4,WWIT:P5,WWIT:P6,WWIT:PS1,WWIT:PS2,FOPT,FWPT,FLPT,FGPT,FWIT
0,2020-01-02 00:00:00,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0000,0.000000
1,2020-01-03 00:00:00,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,200.000000,...,0.0,0.0,0.0,0.0,0.0,1179.998169,0.001463,1179.999634,266910.2500,2400.000000
2,2020-01-03 09:51:31,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,200.000000,...,0.0,0.0,0.0,0.0,0.0,1668.824341,0.002076,1668.826416,377491.6250,3385.869385
3,2020-01-04 00:00:00,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,200.000000,...,0.0,0.0,0.0,0.0,0.0,2369.996582,0.002994,2369.999512,536108.6250,4800.000000
4,2020-01-05 00:00:00,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,193.785248,...,0.0,0.0,0.0,0.0,0.0,3558.780273,0.004588,3558.784912,805030.3125,7200.000000

In [7]:
#Well Oil Production Rate, WOPR
#Well Water Production Rate, WWPR
#Well Liquid Production Rate, WLPR
#Well Gas Production Rate, WGPR
#Well Water Injection Rate, WWIR
#WGOR Газонефтяной фактор
#WBHP
#WOPT Общая добыча нефти
#WWPT Общая добыча воды
# key  WOPR:F2

In [134]:
names=df.columns[1:]

In [135]:
names

Index(['WOPR:F1', 'WOPR:F2', 'WOPR:I1', 'WOPR:I2', 'WOPR:I3', 'WOPR:I4',
       'WOPR:I5', 'WOPR:I6', 'WOPR:P1', 'WOPR:P3',
       ...
       'WWIT:P4', 'WWIT:P5', 'WWIT:P6', 'WWIT:PS1', 'WWIT:PS2', 'FOPT', 'FWPT',
       'FLPT', 'FGPT', 'FWIT'],
      dtype='object', length=185)

In [136]:
wellnames=[]

In [137]:
for n in names:
    a=n.split(':')
    b=a[1]
    if b in wellnames:
        break
    else:
        wellnames.append(b)

In [138]:
wellnames

['F1',
 'F2',
 'I1',
 'I2',
 'I3',
 'I4',
 'I5',
 'I6',
 'P1',
 'P3',
 'P4',
 'P5',
 'P6',
 'PS1',
 'PS2']

In [148]:
time=pd.to_datetime(df.time)

In [161]:
time.head()

0   2020-01-02 00:00:00
1   2020-01-03 00:00:00
2   2020-01-03 09:51:31
3   2020-01-04 00:00:00
4   2020-01-05 00:00:00
Name: time, dtype: datetime64[ns]

In [162]:
time[2]-time[1]

Timedelta('0 days 09:51:31')

In [175]:
report=pd.DataFrame()

In [183]:
report['Time']=time

In [184]:
for name in wellnames:
    report['Дебит по нефти, м3/сут  '+name]=df['WOPR:'+name]
    report['Дебит по воде, м3/сут  '+name]=df['WWPR:'+name]
    report['Дебит по жидкости, м3/сут  '+name]=df['WLPR:'+name]
    report['Дебит по газу, м3/сут  '+name]=df['WGPR:'+name]
    report['Закачка воды, м3/сут  '+name]=df['WWIR:'+name]

In [185]:
report.tail()

,Time,"Дебит по нефти,м3/сут F1","Дебит по воде,м3/сут F1","Дебит по жидкости,м3/сут F1","Дебит по газу,м3/сут F1","Закачка воды,м3/сут F1","Дебит по нефти,м3/сут F2","Дебит по воде,м3/сут F2","Дебит по жидкости,м3/сут F2","Дебит по газу,м3/сут F2",...,"Дебит по воде, м3/сут PS1","Дебит по жидкости, м3/сут PS1","Дебит по газу, м3/сут PS1","Закачка воды, м3/сут PS1","Дебит по нефти, м3/сут PS2","Дебит по воде, м3/сут PS2","Дебит по жидкости, м3/сут PS2","Дебит по газу, м3/сут PS2","Закачка воды, м3/сут PS2",Time
32,2020-02-02,542.311951,0.006475,542.318420,124748.296875,0.0,504.379547,0.007054,504.386597,116990.968750,...,0.004713,432.483795,98379.250000,0.0,160.000000,0.0,160.000000,36151.125000,0.0,2020-02-02
33,2020-02-03,541.076111,0.006472,541.082581,124455.351562,0.0,499.438324,0.007050,499.445374,115870.507812,...,0.004712,426.726776,97321.335938,0.0,9.999986,0.0,9.999986,2262.007568,0.0,2020-02-03
34,2020-02-04,539.831909,0.006469,539.838318,124160.421875,0.0,494.427795,0.007046,494.434845,114738.984375,...,0.004710,422.134308,96431.320312,0.0,10.000000,0.0,10.000000,2262.012451,0.0,2020-02-04
35,2020-02-05,538.600769,0.006466,538.607239,123867.914062,0.0,489.498932,0.007042,489.505981,113627.945312,...,0.004708,418.288361,95648.343750,0.0,210.480148,0.0,210.480148,47531.820312,0.0,2020-02-05
36,2020-02-06,537.363220,0.006462,537.369629,123593.085938,0.0,484.883942,0.007037,484.890991,112588.312500,...,0.004706,414.958954,94941.445312,0.0,207.720703,0.0,207.720703,46912.011719,0.0,2020-02-06

In [187]:
report.resample('M', on='Time').mean()

,"Дебит по нефти,м3/сут F1","Дебит по воде,м3/сут F1","Дебит по жидкости,м3/сут F1","Дебит по газу,м3/сут F1","Закачка воды,м3/сут F1","Дебит по нефти,м3/сут F2","Дебит по воде,м3/сут F2","Дебит по жидкости,м3/сут F2","Дебит по газу,м3/сут F2","Закачка воды,м3/сут F2",...,"Дебит по нефти, м3/сут PS1","Дебит по воде, м3/сут PS1","Дебит по жидкости, м3/сут PS1","Дебит по газу, м3/сут PS1","Закачка воды, м3/сут PS1","Дебит по нефти, м3/сут PS2","Дебит по воде, м3/сут PS2","Дебит по жидкости, м3/сут PS2","Дебит по газу, м3/сут PS2","Закачка воды, м3/сут PS2"
Time,,,,,,,,,,,,,,,,,,,,,
2020-01-31,465.170875,0.00526,465.176132,106884.452621,0.0,462.019834,0.005738,462.025572,107028.466482,0.0,...,165.153567,0.001800,165.155367,37348.033227,0.0,154.838702,6.784969e-14,154.838702,35004.873866,0.0
2020-02-29,540.457143,0.00647,540.463593,124311.313802,0.0,497.021123,0.007048,497.028173,115328.200521,0.0,...,425.813197,0.004711,425.817897,97079.372396,0.0,126.366806,0.000000e+00,126.366806,28544.654378,0.0

In [180]:
report.to_excel("МЭРы.xlsx",
...              sheet_name='МЭРы')

In [ ]:
#Функция записи данных в существующий excel-файл

In [142]:
def append_df_to_excel(filename, df, sheet_name='Sheet1', startrow=None,truncate_sheet=False, **to_excel_kwargs):
    from openpyxl import load_workbook
    # ignore [engine] parameter if it was passed
    if 'engine' in to_excel_kwargs:
        to_excel_kwargs.pop('engine')
        
    writer = pd.ExcelWriter(filename, engine='openpyxl')

    try:
        # try to open an existing workbook
        writer.book = load_workbook(filename)

        # get the last row in the existing Excel sheet
        # if it was not specified explicitly
        if startrow is None and sheet_name in writer.book.sheetnames:
            startrow = writer.book[sheet_name].max_row

        # truncate sheet
        if truncate_sheet and sheet_name in writer.book.sheetnames:
            # index of [sheet_name] sheet
            idx = writer.book.sheetnames.index(sheet_name)
            # remove [sheet_name]
            writer.book.remove(writer.book.worksheets[idx])
            # create an empty sheet [sheet_name] using old index
            writer.book.create_sheet(sheet_name, idx)

        # copy existing sheets
        writer.sheets = {ws.title:ws for ws in writer.book.worksheets}
    except FileNotFoundError:
        # file does not exist yet, we will create it
        pass

    if startrow is None:
        startrow = 0

    # write out the new sheet
    df.to_excel(writer, sheet_name, startrow=startrow, **to_excel_kwargs)

    # save the workbook
    writer.save()

In [143]:
import random

In [145]:
d = []
for name in wellnames:
    d.append({'01_НГДУ':'RIENM Corp',    
    '02_Месторождение': 'RIENM1',
    '03_Скважина':name,         
    '04_Тип_скважины':'верт',
    '05_Пласт':"м1",         
    '06_Dскв': 200,
    '07_Dнкт':73,
    '08_Н_вдп':2500,
    '09_Удл':0,          
    '10_Ндин':random.randint(200,500),
    '11_СЭ':'ESP',
    '12_Рзаб':df['WBHP:'+name].tail(30).mean(),        
    '13_Qнефти':df['WOPR:'+name].tail(30).mean(),
    '14_Qжидк':df['WLPR:'+name].tail(30).mean(),
    '15_Обводненность':df['WWPR:'+name].tail(30).mean()/1+df['WLPR:'+name].tail(20).mean(),
    '16_Pзатр':15,
    '17_ГФ':60,
    '18_Тпл':104,
    '19_Пл-ть_нефти':0.85,
    '20_Пл-ть_воды':1 })
df1=pd.DataFrame(d)

In [146]:
append_df_to_excel(r"C:/Users/Анатолий/Desktop/Новая папка/201910_TR_1.xlsx", df1,sheet_name='TR', 
                            startrow=9+1, startcol=1, index=False, header=False)